[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "*"
asgiref = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
cloudpickle = "*"
colorama = "*"
django = "*"
django-compat = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
fsspec = "*"
idna = "*"
importlib-metadata = "*"
keyboard = "*"
locket = "*"
markdown = "*"
numpy = "*"
packaging = "*"
pandas = "*"
partd = "*"
psycopg2 = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
six = "*"
sniffio = "*"
sqlparse = "*"
starlette = "*"
toolz = "*"
tzdata = "*"
urllib3 = "*"
zipp = "*"
dask = "*"
distributed = "*"

[dev-packages]

[requires]
python_version = "3.12"
